/* Import the Google Fonts API */
/* @import url('https://fonts.googleapis.com/css2?family=Arial&display=swap'); */


/* Define CSS variables in the :root pseudo-class selector */
:root {
  /* Colors */
  --primary-color: #F5F5DC; /* Beige */
  --secondary-color: #E59953; /* Butterscotch */
  --accent1-color: #F5F5DC; /* Beige */
  --accent2-color: #2A2B3D; /* Outer Space */
  
  /* Fonts */
  --heading-font: 'Arial', sans-serif;
  --paragraph-font: 'Arial', sans-serif;
 color: #F5F5DC;

  /* Navigation */
  --nav-background-color: #E59953; 
  --nav-link-color: #F5F5DC; 
  --nav-hover-link-color: #F5F5DC;
  --nav-hover-background-color: #2A2B3D; 
}

/* Apply the defined CSS variables to your website elements */
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121110; /* Black background color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
