/* styles.css */

:root {
    --primary-color: #E59953;
    --secondary-color: #E6961D;
    --accent1-color: #95443B;
    --accent2-color: #424F56;
}

/* Example usage of the colors */
h1 {
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
}

/* You can use these color variables throughout your CSS */
